<div class="jumbotron text-center">
    <h1>About</h1>
</div>
    <div class="container-fluid text-center">
        <div class="col-sm-2 sidenav">
        </div>

<div class="col-sm-8 text-left">
<p>This application allows you to see upcoming races in Minnesota. You can look through the calendar and see when different races are happening. If you click on a race you are able to see who else is interested or participating in that race as well. Your home page will show what races you have selected already. You can choose between interested and going. You are only allowed to choose a race once. All races are from the site www.runningintheusa.com.</p>
    <hr>
</div>
<div class="col-sm-2 sidenav">
</div>
</div>

