<div class="jumbotron text-center">
    <h1>About</h1>
</div>
<p>This application allows you to see upcoming races in Minnesota. You can look through the calendar and see when different races are happening. If you click on a race you are able to see who else is intereted or participating in that race as well. Your home page will show what races you have selected already.