<div class="jumbotron text-center">
    <h1>Create User</h1>
</div>
<form method="POST" action="/addUser">
    {{errorMessage}}
    <br>
    <div class="input-group">
        <p>Enter Desired User Name</p>
        <input type="text" name="username" placeholder="username" required></input>
    </div>
    <br>
    <div class="input-group">
        <p>Enter a password</p>
        <input type="password" name="password" placeholder="password" required> </input>
        <p>(passwords must contain an upper and lowercase letter, number and special character)</p>
    </div>
    <br>
    <button type="submit" class="btn btn-success">Sign Up</button>
</form>