<h1>Create User</h1>
<form method="POST" action="/addUser">
    {{errorMessage}}
    <br>
    <input type="text" name="username" required>Enter Desired User Name</input>
    <p>(passwords must contain and upper and lowercase letter, number and special character)</p>
    <input type="password" name="password"  required> Password</input>
    <input type="submit" name="submit" value="Signup">
</form>


