<div class="jumbotron text-center">
    <h1>Login</h1>
</div>
    {{message}}
    {{error}}
<br>
<form method="POST" action="/login">
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>

        <input type="text" name="username" class="form-control" placeholder="Username" required><br>
    </div>
    <br>
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
        <input type="password" name="password" class="form-control" placeholder="Password" required><br>
    </div>
    <br>
    <button type="submit" class="btn btn-success">Login</button>
</form>
<br>
<form method="POST" action="/registration">
    <button type="submit" class="btn btn-info">Register</button>
</form>

