<table>
    {{#each raceinfo as |race| }}
        <tr>
            <td>
                <form method="POST" action="/save">
                    {{race.racename}}
                    <input type="hidden" value="{{race.raceid}}" name="raceid">
                    <select name="intent">
                        <option value="I">Interested</option>
                        <option value="G">Going</option>
                    </select>
                    <button type="submit">Add Race</button>
                </form>
            </td>
        </tr>
    {{/each}}
</table>

<p>List of others going</p>
<table>
    {{#each user as |user|}}
        <td>user.username</td>
    {{/each}}
</table>

<a href = '/calendar'>Back to calendar</a>

