<table>
    {{#each raceinfo as |race| }}
        <tr>
            <td>
                <form method="POST" action="/save">
                    {{ race.racename }}
                    <input type="hidden" value="{{race.raceid}}" name="raceid">
                    <select name="intent">
                        <option value="I">Interested</option>
                        <option value="G">Going</option>
                    </select>
                    <button type="submit" class="btn btn-warning">Add Race</button>
                </form>
            </td>
        </tr>
    {{/each}}
</table>
<br>
<p>List of others going:</p>
<table class="table table-striped">
    {{#each racerinfo as |racer|}}
        <tr>
        <td>{{racer.username}}</td>
            <td>{{racer.intentname}}</td>
        </tr>
    {{/each}}
</table>