<!--List of races user is interested / signed up for-->
<h1>User Home</h1>
<ul>
    {{#each userraces as |race| }}
        <li>{{race.racename}}</li>
    {{/each}}
</ul>
<a href = '/calendar'>Back to calendar</a>